<h1>Shared Decks</h1>
<% if @decks.present? %>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Category</th>
        <th>Description</th>
        <th colspan="4"></th>
      </tr>
    </thead>
    <tbody>
      <% @decks.each do |deck| %>
        <tr>
          <td><%= deck.title %>&nbsp&nbsp&nbsp</td>
          <td><%= deck.author %>&nbsp&nbsp&nbsp</td>
          <td><%= deck.category %>&nbsp&nbsp&nbsp</td>
          <td><%= deck.description %>&nbsp&nbsp&nbsp</td>
          <td><%= link_to 'Play', deck_card_path(deck, 1), :id => "play-button" %></td>
          <% if !user_signed_in? %>
            <td><%= link_to 'Remove', remove_shared_path(deck), :id => "deleteLink", method: :patch, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>There are no decks to show</p>
<% end %>
