<%= form_for([@deck, @card]) do |f| %>
  <% if @card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
      <% @card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :question %><br>
    <%= f.text_field :question %>
  </div>
  <div class="image">
    <%=f.label :image %><br>
    <%= f.file_field :image %><br>
  </div>
  <div class="field">
    <%= f.label :answer %><br>
    <%= f.text_field :answer %>
  </div>
  <div class="field">
    <%= f.label :deck_id %><br>
    <%= f.text_field :deck_id %>
  </div>
  <div class="field">
    <%= f.label :is_disabled, "Disable Card" %>
    <%= f.check_box :is_disabled %><br>
  <div class="actions">
    <%= f.submit %> <%= link_to 'Cancel', @deck, :id => "deleteLink" %>
  </div>
<% end %>
