<%= form_for([@deck, @card]) do |f| %>
  <div class="image">
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label :question %><br>
    <%= f.text_field :question %>
  </div>
  <div class="field">
    <%= f.label :answer %><br>
    <%= f.text_field :answer %>
  </div>
  <div class="field">
    <%= f.label :is_disabled, "Disable Card" %>
    <%= f.check_box :is_disabled %><br>
  <div class="actions">
    <%= f.submit :id =>"update-button"%> <%= link_to 'Cancel', @deck, :id => "deleteLink" %>
  </div>
<% end %>
