<!--

This code seems like it is being unused. I was able to remove and still have a working application. Please review.

-->
<p id="notice"><%= notice %></p>

<h1>Listing Cards in <% @deck.title %></h1>

<table>
  <thead>
    <tr>
      <th>Question</th>
      <th>Answer</th>
      <th>Deck</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cards.each do |card| %>
      <tr>
        <td><%= card.question %></td>
        <td><%= card.answer %></td>
        <td><%= card.deck.id %></td>
        <td><%= link_to 'Show', deck_card_path(@deck, card) %></td>
        <td><%= link_to 'Edit', edit_deck_card_path(@deck, card) %></td>
        <td><%= link_to 'Delete', deck_card_path(@deck, card), method: :delete, data: { confirm: 'Are you sure that you want to delete this card?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Card', new_deck_card %>