<p id="notice"><%= notice %></p>


<div class="card">

  <% unless @deck.cards.first == @card or (@deck.cards.first.is_disabled == true and @card.previous == @deck.cards.first) %>
    <%= link_to "", previous_card_path, :method => :post, :class => "arrow-left" %>
  <% end %>

  <% unless @deck.cards.last == @card or (@deck.cards.last.is_disabled == true and @card.next == @deck.cards.last)%>
    <%= link_to "", next_card_path, :method => :post, :class => "arrow-right" %>
  <% end %>

  <p class="deck-title">
    <%= link_to "#{@card.deck.title}", deck_path(@deck.id), :id => "navLink" %>
  </p>

   
  <p class="card-front card-content">
    <% if @card.image.exists? %>
      <%= image_tag @card.image.url(:medium), :id => "card-image" %>
    <% else %> 
      <%= @card.question %>
    <% end %>
  </p>

  <p class="card-back card-content">
    <%= @card.answer %>
  </p>
  
</div>

