<p id="notice"><%= notice %></p>

<div class="card">

  <p class="deck-title">
    <%= link_to "#{@card.deck.title}", deck_path(@deck.id), :id => "navLink" %>
  </p>

  <p class="card-front card-content">
    <%= @card.question %>
  </p>

  <p class="card-back card-content">
    <%= @card.answer %>
  </p>
  <%= image_tag @card.image.url %>
  <%= image_tag @card.image.url(:medium) %>
  <%= image_tag @card.image.url(:thumb) %>
  @card.save
</div>

