<p id="notice"><%= notice %></p>
<center>
  <%= link_to "Back to Deck", deck_path(@deck.id), :id => "navLink" %> |&nbsp
  <%= link_to 'All Decks', decks_url, :id => "navLink" %> |&nbsp
  <%= link_to 'New Card', new_deck_card_path(@deck), :id => "navLink" %> |&nbsp
  <%= link_to 'Edit Deck', edit_deck_path(@deck), :id => "navLink" %>
</center><br>

<div class="card">

  <span class="arrow-left"></span>
  <span class="arrow-right"></span>

  <% @cards.each do |c| %>
    <div class="card-content">

      <% if c.image.exists? %>
        <%= image_tag c.image.url(:medium), :class => "card-front" %>
      <% else %> 
        <p class="card-front"><%= c.question %></p>
      <% end %>

      <p class="card-back">
        <%= c.answer %>
      </p>

    </div>
  <% end %>
  
</div>

