<p id="notice"><%= notice %></p>

<% unless @deck.cards.first == @card %>
  <%= link_to "", previous_card_path, :method => :post, :class => "arrow-left" %>
<% end %>

<% unless @deck.cards.last == @card %>
  <%= link_to "", next_card_path, :method => :post, :class => "arrow-right" %>
<% end %>

<div class="card">

  <p class="deck-title">
    <%= link_to "#{@card.deck.title}", deck_path(@deck.id), :id => "navLink" %>
  </p>

  <p class="card-front card-content">
    <%= @card.question %>
  </p>

  <p class="card-back card-content">
    <%= @card.answer %>
  </p>
  
  <%= image_tag @card.image.url(:medium) %>
</div>

