<%= form_for(@deck) do |f| %>
  <% if @deck.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@deck.errors.count, "error") %> prohibited this deck from being saved:</h2>

      <ul>
      <% @deck.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :author %><br>
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.text_field :category %>
  </div>
  <div class="control">
    <%= f.label "Change Background Color", class: 'control-label' %>
  </div>
  <div class="controls">
    <%= f.select(:color_type, options_for_select([['None', ''], ['Lime', '#00ff00'], ['Teal', '#00FFFF'], ['Purple', '#CC0099'], ['Orange', '#ff8c1a']])) %>
  </div>
<<<<<<< HEAD
  <div class="control">
    <%= f.label "Change Font Style", class: 'control-label' %>
  </div>
  <div class="controls">
    <%= f.select(:font_type, options_for_select([['None', ''], ['Bold', 'bold'], ['Italic', 'italic'], ['Small Caps', 'small-caps'], ['Oblique', 'oblique']])) %>
  </div>
  <br>
=======
  <div class="image">
    <%= f.label :image %><br>
    <%= f.file_field :image %><br>
  </div>
>>>>>>> master
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
