<div style="background-color: <%= @deck.color_type %>; font-style: <%= @deck.font_type %>; 
font-weight: <%= @deck.font_type %>; font-style: <%= @deck.font_type %>; font-variant: <%= @deck.font_type %>;">
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @deck.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @deck.author %>
</p>

<p>
  <strong>Category:</strong>
  <%= @deck.category %>
</p>

<% if @deck.cards.present? %>
  <h4>List of cards in this deck:</h4>
  <% @deck.cards.each_with_index do |card, i| %>
      <p>
        ---Card #<%= i + 1 %>---<br>
        <% unless card.is_disabled %>
          Question: <%= card.question %><br>
          Answer: <%= card.answer %><br>
          <%= form_tag do %>
            <%= link_to 'Disable Card', disable_deck_card_path(@deck, card), :method => :post %>
          <% end %>
        <% else %>
          Currently disabled<br>
        <% end %>
        <%= link_to 'Edit Card', edit_deck_card_path(@deck, card) %>
      </p>
  <% end %>
<% else %>
    <h4>No cards in this deck.</h4>
<% end %>
  <%= link_to 'New Card', new_deck_card_path(@deck) %>
  <%= link_to 'Back', decks_path %>
</div>
