<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @deck.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @deck.author %>
</p>

<p>
  <strong>Category:</strong>
  <%= @deck.category %>
</p>

<% if @deck.cards.present? %>
  <h4>List of cards in this deck:</h4>
  <% @deck.cards.each_with_index do |card, i| %>
      <p>
        ---Card #<%= i + 1 %><br>
        Question: <%= card.question %><br>
        Answer: <%= card.answer %>
      </p>
  <% end %>
<% else %>
    <h4>No cards in this deck.</h4>
<% end %>

<%= link_to 'Edit', edit_deck_path(@deck) %> |
<%= link_to 'Back', decks_path %>
