<div style="background-color: <%= @deck.color_type %>; font-style: <%= @deck.font_type %>; color: <%= @deck.foreground_color %>; font-weight: <%= @deck.font_type %>; font-style: <%= @deck.font_type %>; font-variant: <%= @deck.font_type %>;">
<p id="notice"><%= notice %></p>
<%= link_to 'New Card', new_deck_card_path(@deck), :id => "navLink" %> |&nbsp
<%= link_to 'Edit Deck', edit_deck_path(@deck), :id => "navLink" %>

<p>
  <strong>Title:</strong>
  <%= @deck.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @deck.author %>
</p>

<% unless @deck.category.empty? %>
  <p>
    <strong>Category:</strong>
    <%= @deck.category %>
  </p>
<% end %>

<% unless @deck.description.empty? %>
  <p>
    <strong>Description:</strong>
    <%= @deck.description %>
  <p>
<% end %>

<% if @all_disabled == false %>
  <%= link_to 'Play', deck_card_path(@deck, 1), :id => "play-button" %>
<% end %>

<% if @deck.cards.present? %>
  <h4>List of your cards in this deck [<%= @deck.cards.count %>]: </h4>
  <% @deck.cards.each_with_index do |card, i| %>
    <% unless card.is_disabled %>
      <div id="cardDisplay">
        <p>Card #<%= i + 1 %></p>
        <div id="cardQuestion">
          <p><% if card.image.exists? %> <%= image_tag card.image.url(:thumb) %> <% else %> Question: <%= card.question %> <% end %></p>
        </div>
        <div id="cardAnswer">
          <p>Answer: <%= card.answer %></p>
        </div>
        <%= link_to 'Disable', disable_deck_card_path(@deck, card), :method => :post, :id => "deleteLink" %>
    <% else %>
      <div id="cardDisabled">
        <p>
          Card #<%= i +1 %> is currently disabled.
        </p>
    <% end %>
    <%= link_to 'Delete', deck_card_path(@deck, card), method: :delete, :id => "deleteLink", data: { confirm: 'Are you sure that you want to delete this card?' } %></td>
    <%= link_to 'Edit', edit_deck_card_path(@deck, card), :id => "editCreateLink" %>
      </div>
<% end %>
<% else %>
    <h4>No cards in this deck.</h4>
<% end %>
</div>
