<!DOCTYPE html>
<html>
<head>
  <title>Flashcards</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "http://latex.codecogs.com/css/equation-embed.css" %>
  <%= javascript_include_tag "http://latex.codecogs.com/js/eq_config.js" %>
  <%= javascript_include_tag "http://latex.codecogs.com/eqneditor/js/eq_editor-lite-18.js" %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<%= link_to 'Home', root_path, :id => "navLink" %>  |&nbsp
<%= link_to 'Decks', decks_url, :id => "navLink" %>
  <% if user_signed_in? %>
    <p>Logged in as: <%= current_user.name %>.</p>
  <% else %>
    <div class="social-wrap">
      <%=link_to 'Sign in with Twitter', user_omniauth_authorize_path(:twitter), :id => "twitter" %>
      <%=link_to 'Sign in with Facebook', user_omniauth_authorize_path(:facebook), :id => "facebook" %>
      <%=link_to 'Sign in with Google', user_omniauth_authorize_path(:google_oauth2), :id => "googleplus" %>
    </div>
  <% end %>
<%= yield %>
</body>
</html>
