<!DOCTYPE html>
<html>
<head>
  <title>Flashcards</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "http://latex.codecogs.com/css/equation-embed.css" %>
  <%= javascript_include_tag "http://latex.codecogs.com/js/eq_config.js" %>
  <%= javascript_include_tag "http://latex.codecogs.com/eqneditor/js/eq_editor-lite-18.js" %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div id="login">
  <% if user_signed_in? %>
    <p>Logged in as: <%= current_user.name %>.</p>
  <% else %>
    <ul>
      <li>Sign in with:</li>
      <li><i class="fa fa-twitter"><%=link_to 'Twitter', user_omniauth_authorize_path(:twitter) %></i></li>
      <li><i class="fa fa-facebook"><%=link_to 'Facebook', user_omniauth_authorize_path(:facebook) %></i></li>
      <li><i class="fa fa-google"><%=link_to 'Google', user_omniauth_authorize_path(:google_oauth2) %></i></li>
    </ul>
  <% end %>
</div>
<%= yield %>
</body>
</html>
