<!DOCTYPE html>
<html>
<head>
  <title>Flashcards</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "http://latex.codecogs.com/css/equation-embed.css" %>
  <%= javascript_include_tag "http://latex.codecogs.com/js/eq_config.js" %>
  <%= javascript_include_tag "http://latex.codecogs.com/js/eq_editor-lite-18.js" %>
</head>
<body>
<%= yield %>

</body>
</html>
